# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so

*~
*#
*.#*
*.DS_Store
*.swp

# code editor settings
.vscode/*

# Folder with libraries
build/*
slam-libraries/ORB_SLAM_CUSTOM/ORB_SLAM3
slam-libraries/ORB_SLAM_CUSTOM/build/

