[submodule "slam-libraries/cartographer"]
	path = slam-libraries/cartographer
	url = git@github.com:kkufieta/cartographer.git
	branch=main
[submodule "slam-libraries/ORB_SLAM3"]
	path = slam-libraries/ORB_SLAM3
	url = https://github.com/JohnN193/ORB_SLAM3
